<!DOCTYPE html>
<html>
	<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="MobileOptimized" content="420">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="renderer" content="webkit">
		<meta content="telephone=no" name="format-detection">
		<title>登录</title>
		<link rel="stylesheet" href="styles/css/public.css" />
		<link rel="stylesheet" href="lib/dialog/ui-dialog.css" />
		<script type="text/javascript" src="lib/jq/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="lib/vue/vue.js"></script>
		<script type="text/javascript" src="lib/vue/vue-resource.js"></script>
		<script type="text/javascript" src="styles/js/config.js"></script>
		<script type="text/javascript" src="lib/dialog/dialog-plus-min.js"></script>
		<script type="text/javascript" src="lib/dialog/dialog-fun.js"></script>
	</head>

	<body>

		<div class="header">
			<div class="logo-box"></div>
			<div class="header-text">
				XX排号系统
			</div>
		</div>

		<div class="content" id="rapp">
			<div class="input-box" id="rbox">
				<table  border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="input-name"><i>(必填)</i>手机号:</td>
						<td><input type="number" v-model="userdata.phone" id="rphone" class="reInput" reInput="20;/^.{6,20}$/;请输入手机号" /></td>
					</tr>
					<tr>
						<td class="input-name"><i>(必填)</i>姓名:</td>
						<td><input type="text" v-model="userdata.name" id="rname" class="reInput" reInput="20;/^.{1,20}$/;请输入姓名" /></td>
					</tr>
					<tr>
						<td class="input-name">性别:</td>
						<td class="sex-box">
							<label><input type="radio" name="sex" value="0" v-model="userdata.sex" />女</label>
							<label><input type="radio" name="sex" value="1" v-model="userdata.sex" />男</label>

							<label><input type="radio" name="sex" value="2" c />其他</label>
						</td>

					</tr>
					<tr>
						<td class="input-name">三维:</td>
						<td>
							<input type="number" style="width: 55px;" v-model="userdata.size.a" /> /
							<input type="number" style="width:55px;" v-model="userdata.size.b" /> /
							<input type="number" style="width:55px;" v-model="userdata.size.c" />
						</td>
					</tr>
					<tr>
						<td class="input-name">面试内容:</td>
						<td class="sex-box">
							<label><input type="checkbox" name="job" value="coser" v-model="userdata.job.a" />coser</label>
							<label><input type="checkbox" name="job" value="showgirl" v-model="userdata.job.b" />showgirl</label>
						</td>
					</tr>
				</table>
				<button type="button" class="button" V-on:click="rFun()">登记信息</button>
			</div>
			<div class="input-box">
				<table id="qbox" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="input-name"><i>(必填)</i>手机号:</td>
						<td><input type="number" v-model="userdata.phone" id="qphone" class="reInput" reInput="20;/^.{6,20}$/;请输入手机号" /></td>
					</tr>
				</table>
				<button type="button" class="button" V-on:click="qFun()">取号/查号</button>
			</div>
			<div class="input-box" id="queuenumber" style="display: none;">
				<div id="" style="text-align: center;font-size: 30px;">
					{{userdata.name}}
				</div>
				<div style="text-align: center;font-size: 30px;">第<span style="font-size: 42px;font-weight: bold;color: red;">{{userdata.queuenumber}}</span>号</div>
			</div>
		</div>

		<p style="font-size:15px;text-align: center;">© 2017 立洲传媒 ❖ Powered by medialz <br /><i>登记如遇问题请联系现场相关人员</i></p>

	</body>
	<script>
		Vue.http.options.headers = {
			'Content-Type': 'application/x-www-form-urlencoded'
		};
		var loginApp = new Vue({
			el: "#rapp",
			data: {
				userdata: {
					phone: "",
					name: "",
					sex: "0",
					size: { a: '', b: '', c: '' },
					job: { a: '', b: '' },
					queuenumber:''
				},

			},
			methods: {
				rFun: function() {
					if(RegExpInput.eachREIfunTF({
							Inputobj: $('#rbox').find('.reInput')
					})) {
						rFuntext = "phone=" + this.userdata.phone +
							"&name=" + this.userdata.name +
							"&sex=" + this.userdata.sex +
							"&size=" + this.userdata.size.a+"and"+this.userdata.size.b+"and"+this.userdata.size.c+
							"&job=" + this.userdata.job.a+"and"+this.userdata.job.b
						this.$http.get("http://39.108.14.253:3000/a/register?" + rFuntext )
							.then((successCallback, errorCallback) => {
								if(successCallback.data.status == "0000") {
									alert(successCallback.data.hint)
								}else{
									alert(successCallback.data.hint)
								}
							})
					}
				},
				qFun: function() {
					if(RegExpInput.eachREIfunTF({
							Inputobj: $('#qbox').find('.reInput')
						})) {
						qFuntext = "phone=" + this.userdata.phone +
							"&sessionid=1"
						this.$http.get("http://39.108.14.253:3000/a/join?" + qFuntext)
							.then((successCallback, errorCallback) => {
								if(successCallback.data.status == "0000") {
									$("#queuenumber").show();
									$("#rbox").hide();
									name: "11",
									this.userdata.name=successCallback.data.data.name;
									this.userdata.queuenumber=successCallback.data.data.queuenumber;
								}else{
									alert(successCallback.data.hint)
								}
							})
					}
				}
			}
		});
	</script>

	</html>