<!DOCTYPE html>
<html>
	<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="MobileOptimized" content="420">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-orientation" content="portrait">
		<meta name="renderer" content="webkit">
		<meta content="telephone=no" name="format-detection">
		<title>登录</title>
		<link rel="stylesheet" href="styles/css/public.css" />
		<link rel="stylesheet" href="lib/dialog/ui-dialog.css" />
		<script type="text/javascript" src="lib/jq/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="lib/vue/vue.js"></script>
		<script type="text/javascript" src="lib/vue/vue-resource.js"></script>
		<script type="text/javascript" src="styles/js/config.js"></script>
		<script type="text/javascript" src="lib/dialog/dialog-plus-min.js"></script>
		<script type="text/javascript" src="lib/dialog/dialog-fun.js"></script>
	</head>

	<body>

		<div class="header">
			<div class="logo-box"></div>
			<div class="header-text">
				面试排号系统
			</div>
		</div>
		<div id="loding" style="text-align: center;line-height: 50px;margin-bottom: 200px;margin-top: 200px;background-color: #fff;">
			加载中...<br />请保证网络畅通
		</div>
		<div class="content" id="rapp" style="display: none;">
			<div class="input-box" id="queuenumber" v-show="userdata.queuenumber!=''">
				<div id="" style="text-align: center;font-size: 30px;">
					<div style="background-color:red;font-size: 24px;font-weight: bold;text-align: center;display: inline-block;padding: 5px 10px;color: #fff;margin-bottom: 10px;">{{userdata.sessionname}}</div>
					<br /> 姓名:{{userdata.name}}
				</div>
				<div style="text-align: center;font-size: 50px;"><span style="font-size: 142px;font-weight: bold;color: red;">{{userdata.queuenumber}}</span>号</div>

			</div>
			<div class="input-box" v-show="sessiondata!=''">
				<div class="box-tit">
					面试取号/查号
				</div>
				<div id="">
					<div v-for="(sdata,index) in sessiondata">
						<label style="line-height: 40px;font-size: 18px;"><input type="radio" name="session" :value="index" v-model="userdata.session" />{{sdata.sessionname}} <span v-show="sdata.sessiontime!=''" style="font-size: 14px;">（{{sdata.sessiontime}}）</span></label>
					</div>

				</div>
				<table id="qbox" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="input-name"><i>(必填)</i>手机号:</td>
						<td><input type="number" v-model="userdata.phone" id="qphone" class="reInput" reInput="20;/^.{6,20}$/;请输入手机号" /></td>
					</tr>
				</table>
				<button type="button" class="button" V-on:click="qFun()">取号/查号</button>
			</div>
			<div class="input-box" v-show="sessiondata==''">
				暂无面试场次
			</div>
			<div class="input-box" id="rbox" v-show="userdata.queuenumber==''">
				<div class="box-tit">
					首次使用,请登记
				</div>
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="input-name"><i>(必填)</i>手机号:</td>
						<td><input type="number" v-model="userdata.phone" id="rphone" class="reInput" reInput="20;/^.{6,20}$/;请输入手机号" /></td>
					</tr>
					<tr>
						<td class="input-name"><i>(必填)</i>姓名:</td>
						<td><input type="text" v-model="userdata.name" id="rname" class="reInput" reInput="20;/^.{1,20}$/;请输入姓名" /></td>
					</tr>
					<tr>
						<td class="input-name"><i>(必填)</i>性别:</td>
						<td class="sex-box">
							<label><input type="radio" name="sex" value="0" v-model="userdata.sex" />女</label>
							<label><input type="radio" name="sex" value="1" v-model="userdata.sex" />男</label>
							<label><input type="radio" name="sex" value="2" v-model="userdata.sex" />其他</label>
						</td>

					</tr>
					<tr>
						<td class="input-name">三维:</td>
						<td>
							<input type="number" style="width: 55px;" v-model="userdata.size.a" /> /
							<input type="number" style="width:55px;" v-model="userdata.size.b" /> /
							<input type="number" style="width:55px;" v-model="userdata.size.c" />
						</td>
					</tr>
					<tr>
						<td class="input-name">面试内容:</td>
						<td class="sex-box">
							<label><input type="checkbox" name="job" value="coser" v-model="userdata.job.a" />coser</label>
							<label><input type="checkbox" name="job" value="showgirl" v-model="userdata.job.b" />showgirl</label>
						</td>
					</tr>
				</table>
				<button type="button" class="button" V-on:click="rFun()">登记信息</button>
			</div>

			<div V-on:click="rShow()" v-show="userdata.queuenumber!=''" style="width: 100px;margin: 20px auto;text-align: center;font-size: 20px;border: solid 1px #666;border-radius:6px;">
				注册
			</div>
		</div>

		<p style="font-size:15px;text-align: center;">© 2017 立洲传媒 ❖ Powered by medialz <br /><i>登记如遇问题请联系现场相关人员</i></p>

	</body>
	<script>
		Vue.http.options.headers = {
			'Content-Type': 'application/x-www-form-urlencoded'
		};
		var loginApp = new Vue({
			el: "#rapp",
			data: {
				userdata: {
					phone: getCookieValue("phone"),
					name: getCookieValue("name"),
					sex: "0",
					size: {
						a: '',
						b: '',
						c: ''
					},
					job: {
						a: '',
						b: ''
					},
					queuenumber: getCookieValue("queuenumber"),
					session: 0,
					sessionname: getCookieValue("sessionname"),

				},
				sessiondata: ""

			},
			methods: {
				rFun: function() {
					if(RegExpInput.eachREIfunTF({
							Inputobj: $('#rbox').find('.reInput')
						})) {
						var rjoba = this.userdata.job.a ? 'coser/' : '';
						var rjobb = this.userdata.job.b ? 'showgirl/' : '';
						rFuntext = "phone=" + this.userdata.phone +
							"&name=" + this.userdata.name +
							"&sex=" + this.userdata.sex +
							"&size=" + this.userdata.size.a + "/" + this.userdata.size.b + "/" + this.userdata.size.c +
							"&job=" + rjoba + rjobb
						this.$http.get(window.apiUrl + "/a/register?" + rFuntext)
							.then((successCallback, errorCallback) => {
								if(successCallback.data.status == "0000") {
									alert(successCallback.data.hint);
									setCookie("phone", this.userdata.phone, "365", "/");
								} else {
									alert(successCallback.data.hint)
								}
							})
					}
				},
				qFun: function() {
					if(RegExpInput.eachREIfunTF({
							Inputobj: $('#qbox').find('.reInput')
						})) {
						qFuntext = "phone=" + this.userdata.phone +
							"&sessionid=" + this.sessiondata[this.userdata.session].id;
						this.$http.get(window.apiUrl + "/a/join?" + qFuntext)
							.then((successCallback, errorCallback) => {
								if(successCallback.data.status == "0000") {
									$("#queuenumber").show();
									$("#rbox").hide();
									this.userdata.name = successCallback.data.data.name;
									this.userdata.queuenumber = successCallback.data.data.queuenumber;
									setCookie("phone", this.userdata.phone, "365", "/");
									setCookie("name", this.userdata.name, "365", "/");
									setCookie("queuenumber", this.userdata.queuenumber, "0.5", "/");

									this.userdata.sessionname = this.sessiondata[this.userdata.session].sessionname;
									setCookie("sessionname", this.userdata.sessionname, "0.5", "/");

								} else {
									alert(successCallback.data.hint);
								}
							})
					}
				},
				rShow: function() {
					this.userdata.queuenumber = "";
				},
				qSession: function() {
					this.$http.get(window.apiUrl + "/q/session?type=1")
						.then((successCallback, errorCallback) => {
							if(successCallback.data.status == "0000") {
								this.sessiondata = successCallback.data.data;
								console.log(this.sessiondata);
								$('#loding').hide();
								$('#rapp').show();
							} else {
								alert(successCallback.data.hint);
							}
						})
				}
			},
			mounted() {
				this.qSession()
			}
		});
	</script>

	</html>